# Local .terraform directories
**/.terraform/*
!.terraform/*.tfstate.backup

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Exclude override files as they are usually local-only
*.tfvars
*.tfvars.json

# Plan output
*.plan

# Sensitive variable files
secret.tfvars
private.tfvars

# CLI configuration files
.terraformrc
terraform.rc
master-config